// COLORS
$color-primary: #23abf2;
$color-bg-dark: #25282e;
$color-bg-light: #32353a;
$color-accent: #02bc77;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
